body {
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

ul, ol, li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}


a:hover {
	text-decoration: none;
	color: #838383;
}

h1{
    margin-left:60px;
}
h2{
    margin-left:60px;
}
h3{
    margin-left:60px;
}
p{
    margin-left:60px;
}


table{
    margin-left:60px;
}


#container{
    width:1000px;
    margin:0 auto;
}

#header{
    width:1000px;
    height:160px;
    background:url('banner.jpg') no-repeat;
    background-size:1000px 160px;
}

#header a{
	margin:0;
	margin-top:5px;
	margin-left:10px;
	width:50px;
	height:20px;
	display:block;
	position:absolute;
	/*
		absolute changes the position of element relative to its first parent
	*/
    font-size:18px;
    color:#8B0000;
    text-decoration: none;
}

#header ul{
    margin-top:125px;
    margin-left:35px;
	position:absolute;
}

#header ul li{
    background-color:#DCDCDC;
	padding:0;
	width:70px;
	height:30px;
}
    
#content {
    background-color:#eee;
    width:1000px;
}

#toolbar{
    margin-left:30px;
    margin-right:30px;
}

#toolbar ul{
    margin-top: 0px;
    position: relative;
    padding-top: 20px;
}
#toolbar ul li{
    background-color:#DCDCDC;
    width: 80px;
    height: 15px;
    text-decoration: none;
    text-align: center;
}
#toolbar a{
    color:#8B0000;
    font-size:16px;
}

#search-text{
    margin:20px;
    width:300px;
    height:20px;
}

#search-submit{
    width:120px;
    font-size:30px;
}

#delete_submit{
	margin-left:60px;
}

#content a.selected{
    color:black;
    font-weight:bold;
    font-size:16px;
    text-decoration:none;
}

#content h1 a{
    text-decoration:underline;
}

#content ul{
    float:right;
}

#content ul li{
    display:inline;
    background-color:#DCDCDC;
    padding:1px;
}
#booklist{
	width:1000px;
	height:1800px;
	border-color:black;
	border-width:2px;
}

.book img{
float: left;
width: 150px;
height:200px;
margin-left:8px;
margin-right:8px;
margin-top:8px;
margin-bottom:50px;
}
.book info{
float: left;
margin-left: 280px;
}

.book{
    background-color:white;
    margin:20px;
	float:left;
	width:460px;
	height:260px;
}
.book_info{
	float: left:
	margin-left: 150px;
}
#footer{
    text-align:center;
}
